<ion-modal-view>
	<!--担保信息详情页 start  -->
    <ion-header-bar align-title="center" class="bar-ipad-nav">   
	   	<div>
	       <button class="button button-clear" ng-click="modalCancel()">
	           <i class="ion ion-chevron-left" style="font-size: 25px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
	       </button>
	   	</div>           
        <h1 class="title">{{detailTitle}}</h1>
    </ion-header-bar> 
     <ion-view>
		<ion-content delegate-handle="listDetailScrollHandle" style="top: 44px";>
		      <table class="bm_tb_list" ng-show="listDetails.length > 0" ng-repeat = "item in listDetails">
		          <!--循环遍历生成页面元素  -->
		           <tbody ng-repeat ="obj in item.groupColArray" ng-show="item.showGroup">            
		           <!--Input框循环生成 -start -->
		           <!--可更新可写input (只展示colVisable = 1 的属性) -->
		           <tr ng-if="obj.ColEditStyle =='1' && obj.ColUpdateable =='1'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
			               	<input ng-if="obj.ColCheckFormat == '3' " style="float:left;" type="date" ng-model = 'detailListInfo[obj.KeyId]' ng-readonly='obj.ReadOnly' class="ba-input">
		                	<input ng-if="obj.ColCheckFormat != '3' " style="float:left;" type="text" ng-model = 'detailListInfo[obj.KeyId]' ng-readonly='obj.ReadOnly' class="ba-input">
		                	<button style="float:left;width:20%;margin-left:6px" ng-if="obj.ColButton && obj.ColUIGridClick != '' && obj.ColUIGridClick != null" type="button" class="am-button am-button-default" ng-click="doClick({{obj.ColUIGridClick}})">{{obj.ColButtonValue}}</button>
		                	<button style="float:left;width:20%;margin-left:6px" ng-if="obj.ColButton && (obj.ColUIGridClick == '' || obj.ColUIGridClick == null)" type="button" class="am-button am-button-default" ng-click="{{obj.ColClick}}">{{obj.ColButtonValue}}</button>
		               		<font color="red" ng-if="obj.ColCheckFormat != '3' && detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;请输入{{obj.KeyName}}！</font>
             				<font color="red" ng-if="obj.ColCheckFormat == '3' && detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;请选择{{obj.KeyName}}！</font>
		               </td>
		           </tr>
		           <!--不更新input  -->	            
		           <tr ng-if="obj.ColEditStyle =='1' && obj.ColUpdateable =='0'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
						   <input type="text" style="float:left;" ng-model = 'detailListInfoNoUpdate[obj.KeyId]' ng-readonly='obj.ReadOnly' class="ba-input">
						   <button style="float:left;width:20%;margin-left:6px" ng-if="obj.ColButton && obj.ColUIGridClick != '' && obj.ColUIGridClick != null" type="button" class="am-button am-button-default" ng-click="doClick({{obj.ColUIGridClick}})">{{obj.ColButtonValue}}</button>
						   <button style="float:left;width:20%;margin-left:6px" ng-if="obj.ColButton && (obj.ColUIGridClick == '' || obj.ColUIGridClick == null)" type="button" class="am-button am-button-default" ng-click="{{obj.ColClick}}">{{obj.ColButtonValue}}</button>
						   <font color="red" ng-if="detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;请输入{{obj.KeyName}}！</font>
					   </td>
		           </tr>
		           <!--Input框循环生成 -end -->
		           <!--通用下拉框循环生成 -start  -->
		           <!--可更新可写select  -->	            	            
				<tr ng-if="obj.ColEditStyle =='2' && obj.ColUpdateable =='1'" ng-hide='obj.Hide'> 
					   <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
		                   <select required="required" class="ba-select" ng-disabled='obj.ReadOnly' ng-options="option.ItemNo as option.ItemName for option in CODE_LIBRARY.{{obj.KeyId}}" ng-model='detailListInfo[obj.KeyId]'>
		                       <option value=""></option>
		                   </select>
		                   <font color="red" ng-if="detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;请选择{{obj.KeyName}}！</font>
		               </td>
		           </tr>
		           <!--不可更新select  -->	            	            	            
		           <tr ng-if="obj.ColEditStyle =='2' && obj.ColUpdateable =='0'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
		                   <select required="required" class="ba-select" ng-disabled='obj.ReadOnly' ng-options="option.ItemNo as option.ItemName for option in CODE_LIBRARY.{{obj.KeyId}}" ng-model='detailListInfoNoUpdate[obj.KeyId]'>
		                       <option value=""></option>
		                   </select>
						   <font color="red" ng-if="detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;请选择{{obj.KeyName}}！</font>
		               </td>
		           </tr>
		           <!--通用下拉框循环生成 -end  -->	             
		           <!--文本框循环生成 -start-->
		           <tr ng-if="obj.ColEditStyle =='3' && obj.ColUpdateable =='1'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
							<textarea rows="8" class="ba-input" ng-model="detailListInfo[obj.KeyId]" ng-readonly='obj.ReadOnly' ng-change="checkText()">							                      
		                   </textarea>
		                   <p ng-if="obj.KeyId == 'Remark'" ng-show="inputShow">您还可以输入{{inputTextLength}}个汉字</p>
		                   <font color="red" ng-if="detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;{{obj.KeyName}}不能为空！</font>
		               </td>
		           </tr>
		           <tr ng-if="obj.ColEditStyle =='3' && obj.ColUpdateable =='0'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td>
							<textarea rows="8" class="ba-input" ng-model="detailListInfoNoUpdate[obj.KeyId]" ng-readonly='obj.ReadOnly' ng-change="checkText()">							                      
		                   </textarea>
		                   <p ng-if="obj.KeyId == 'Remark'" ng-show="inputShow">您还可以输入{{inputTextLength}}个汉字</p>
						   <font color="red" ng-if="detailListCheck[obj.KeyId]">&nbsp;&nbsp;&nbsp;&nbsp;{{obj.KeyName}}不能为空！</font>
		               </td>
		           </tr>
		           <!--文本框循环生成 -end-->	            
		          	<!--点选框循环遍历 -start  -->    
		          	<tr ng-if="obj.ColEditStyle =='8' && obj.ColUpdateable =='1'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td><input type="text" ng-model = 'detailListInfo[obj.KeyId]' ng-readonly='obj.ReadOnly' class="ba-input" ng-click="selectBusinessType()"></td>
		           </tr>
		           <tr ng-if="obj.ColEditStyle =='8' && obj.ColUpdateable =='0'" ng-hide='obj.Hide'> 
		               <td>
		                {{obj.KeyName}}
		               <font color="red" ng-if="obj.ColRequired =='1'" >*</font>
		               </td>
		               <td><input type="text" ng-model = 'detailListInfoNoUpdate[obj.KeyId]' ng-readonly='obj.ReadOnly' class="ba-input" ng-click="selectBusinessType()"></td>
		           </tr>                 
		          	<!--点选框循环遍历 -end  -->    	            	       
		            </tbody>
		        </table>
		        
		        <div class="noDataBox" ng-show="listDetails.length  == 0">
		            <div class="nodata">
		                <img src="img/empty_page.png" width="70px">
		                <span class="nodata_span">暂无数据</span>
		            </div>
		        </div>
		</ion-content>
     </ion-view>
    <ion-footer-bar ng-show="listDetails.length  > 0 && listDetailReadonly != 'true'">
        <div class="btn-box row">
			<div class="col col-40" ng-if="((ApplyType == 'IndependentApply' || ApplyType == 'DependentApply') && addCreditApplyFlag == '1')">
				<button type="button" class="am-button am-button-red" ng-click="nextStep()">下一步</button>
			</div>
            <div class="col col-40" ng-if="((ApplyType == 'IndependentApply' || ApplyType == 'DependentApply') && addCreditApplyFlag == '2') || ApplyType == 'CreditLineApply'" >
                <button type="button" class="am-button am-button-red" ng-click="saveModel()">保存</button>
            </div>
            <div class="col col-40">
                <button type="button" class="am-button am-button-blue" ng-click="modalCancel()">关闭</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-modal-view>                       
       



