<ion-view style="width:{{contentWidth}}px"  ng-controller="CustomerDetailController" >
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">客户详情</h1>
    </ion-header-bar>

    <ion-content ng-show="!EntCustomerDetailNoData" class="jh-container"  delegate-handle="mainScroll">
        <!--<ion-scroll style="height: 2000px">-->
        <div ng-bind-html="reportInfo.ReportData" id="jh-html-container"></div>
        <!--</ion-scroll>-->
    </ion-content>

    <ion-content ng-show="EntCustomerDetailNoData">
        <div class="noDataBox">
            <div class="nodata">
                <img src="img/empty_page.png" width="70px">
                <span class="nodata_span">暂无数据</span>
            </div>
        </div>
    </ion-content>


    <ion-footer-bar ng-show="!EntCustomerDetailNoData && BelongFlagShow">
        <!--<div class="col col-100">-->
            <!--<button type="button" class="am-button am-button-red" ng-click="CustomerSave()">保存</button>-->
        <!--</div>-->

        <div class="btn-box row">
            <div class="col col-40">
                <button type="button" class="am-button am-button-red" ng-click="CustomerSave()">保存</button>
            </div>
            <div class="col col-40">
                <button type="button" class="am-button am-button-blue" ng-click="CustomerTempSave()">暂存</button>
            </div>
        </div>

    </ion-footer-bar>
</ion-view>