<div ng-show="!nextActionShowFlag">
    <ion-header-bar align-title="center" class="bar-positive">
        <div ng-click="goToSignOpinion()">
            <button class="button button-clear" ng-click="hideModal()">
                <i class="ion ion-chevron-left" style="font-size: 25px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
            </button>
        </div>
        <h1 class="title">签署意见</h1>
    </ion-header-bar>
    <ion-content>
        <div class="ui-wrap">
            <table class="cm_tb_list">
                <tbody>
                <tr>
                    <td class="td_width_30">客户名称:</td>
                    <td class="td_width_50">{{item.CustomerName}}</td>
                </tr>
                <tr>
                    <td class="td_width_30">会计月份:</td>
                    <td class="td_width_50">{{item.AccountMonth}}</td>
                </tr>
                <tr>
                    <td class="td_width_30">评估模型:</td>
                    <td class="td_width_50">{{item.ModelName}}</td>
                </tr>
                <tr>
                    <td class="td_width_30">系统评估得分:</td>
                    <td class="td_width_50">{{item.EvaluateScore}}</td>
                </tr>
                <tr>
                    <td class="td_width_30">系统评估结果:</td>
                    <td class="td_width_50">{{item.EvaluateResult}}</td>
                </tr>
                <tr>
                    <td class="td_width_30">人工评分:</td>
                    <td class="td_width_50"><input type="number" ng-model="opinionInfos.cognScore"
                                                   style="height: auto" placeholder="请输入人工评分"
                                                   ng-blur="showCognResult()"></td>
                </tr>
                <tr>
                    <td class="td_width_30">人工评定结果:</td>
                    <td class="td_width_50">{{opinionInfos.cognResult}}</td>
                </tr>
                <tr>

                </tr>

                </tbody>
            </table>
            <ul class="am-input-list">
                <li>
                    <h3>意见详情：</h3>
                </li>
                <li class="am-input-list_text">
                            <textarea class="am-textarea" rows="5" cols=""
                                      ng-model="opinionInfos.opinionDetail"></textarea>
                </li>
            </ul>

        </div>


    </ion-content>

    <ion-footer-bar>

        <div class="col col-100">
            <button type="button" class="am-button am-button-blue" ng-click="saveEvaluateOpinion()">
                保存并提交
            </button>
        </div>

    </ion-footer-bar>
</div>