<!-- yli18 2017年11月23日 低风险类风险检查表 -->
<!-- <div style="width:{{contentWidth}}px;position: absolute;top:50px">
	<table class="table-border" width="{{contentWidth}}" align=center
		border=1 cellspacing=0 cellpadding=2 bgcolor=white bordercolor=black
		bordercolordark=black
		data-ng-if="selectedListItem !== 'undefined' && selectedListItem !== null && selectedListItem !== '' ">
		<tr>
			<td style="font-size: 20pt; font-weight: bold; height: 35px;"
				colspan="18" align="center">乌鲁木齐银行小企业贷后定期检查表(低风险业务)</td>
		</tr>
		<tr>
			<td colspan="3">贷后检查机构</td>
			<td colspan="2">{{SmeCheckedALSData.sOrgName}}&nbsp;</td>
			<td colspan="2">贷后检查人员</td>
			<td colspan="2" align="center"><pre
					data-ng-bind-html="ReportData.describe1"></pre> &nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">填写日期</td>
			<td colspan="2">{{SmeCheckedALSData.sNowDate}}&nbsp;</td>
			<td colspan="2">检查日期</td>
			<td colspan="2"><pre data-ng-bind-html="ReportData.describe9"></pre>
				&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">客户名称</td>
			<td colspan="2">{{SmeCheckedALSData.customerName}}&nbsp;</td>
			<td colspan="2">担保金额</td>
			<td colspan="2" align="center"><pre
					data-ng-bind-html="ReportData.describe2"></pre> &nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">规定间隔检查期</td>
			<td colspan="2" align="center"><pre
					data-ng-bind-html="ReportData.describe3"></pre> &nbsp;</td>
			<td colspan="2">上次检查日期</td>
			<td colspan="2">{{SmeCheckedALSData.sLaskCheckData}}&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">企业接待人</td>
			<td colspan="6" align="center"><pre
					data-ng-bind-html="ReportData.describe4"></pre> &nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">检查项目</td>
			<td colspan="6" align="center">具体描述</td>
		</tr>
		<tr>
			<td colspan="3">1、企业、企业主及主要股东信用情况<br /> （授信总额变化、授信质量变化）
			</td>
			<td colspan="6" align="center"><pre
					data-ng-bind-html="ReportData.describe5"></pre> &nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">2、企业在本行结算情况</td>
			<td colspan="6"><pre data-ng-bind-html="ReportData.describe8"></pre>
			</td>
		</tr>
		<tr>
			<td colspan="3">3、是否存在影响企业经营变化因素</td>
			<td colspan="6" align="center"><pre
					data-ng-bind-html="ReportData.describe6"></pre> &nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">检查人评价</td>
			<td colspan="6"><p>
				<pre data-ng-bind-html="ReportData.describe7"></pre>
				</p>
				<p align="right">签字:{{SmeCheckedALSData.CusManger.sOptName}}</p>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">部门经理意见</td>
			<td colspan="6"><p>{{SmeCheckedALSData.BranInfo.sOptOpin}}&nbsp;</p>
				<p align="right">签字:{{SmeCheckedALSData.BranInfo.sOptName}}</p>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">经营机构负责人意见</td>
			<td colspan="6"><p>{{SmeCheckedALSData.PresiInfo.sOptOpin}}&nbsp;</p>
				<p align="right">签字:{{SmeCheckedALSData.PresiInfo.sOptName}}</p>&nbsp;</td>
		</tr>
	</table>
</div> -->

