<ion-view>
    <ion-side-menus>
        <ion-side-menu-content drag-content="true" edge-drag-threshold=50>

            <ion-side-menus>
                <ion-side-menu-content drag-content="true" edge-drag-threshold=50
                                       style="margin-top: 0px;padding-top: 0px">

                    <!--***************************************最右边的详情部分 ******************************************************-->
                    <ion-view style="width:{{contentWidth}}px">
                        <ion-header-bar align-title="center" class="bar-ipad-nav">
                            <h1 class="title">意见反馈</h1>
                        </ion-header-bar>
                        <ion-content class="gray-main">
                            <tr>
                                <td><span class="am-input-list_name">请留下您的宝贵意见：</span></td>
                            </tr>
                            <ul class="am-input-list">
                                <li>
                                    <textarea class="am-textarea" rows="8" cols="" ng-model="opinion.signOpinion"></textarea>
                                </li>
                            </ul>
                            <div class="btn-box row">
                                <div class="col col-100">
                                    <button type="button" class="am-button am-button-red" ng-click="submit()">提  交</button>
                                </div>
                            </div>
                        </ion-content>
                    </ion-view>


                </ion-side-menu-content>


                <ion-side-menu side="left" width="{{secondNavWidth}}" expose-aside-when="large"
                               style="margin-top: 0px;padding-top: 0px">
                    <!--***********************************************中间部分的二级导航栏--***********************************************-->
                    <div ng-include="'templates/mine/settingForiPad.html'"></div>


                </ion-side-menu>
            </ion-side-menus>
        </ion-side-menu-content>

        <ion-side-menu class="fstNav" side="left" width="{{firstNavWidth}}" expose-aside-when="large">
            <!--***********************************************最左边的一级导航栏--***********************************************-->
            <div ng-include="'templates/common/nav.html'">
            </div>
        </ion-side-menu>


    </ion-side-menus>

</ion-view>

  
