<ion-view>
    <ion-side-menus>
        <ion-side-menu-content drag-content="true" edge-drag-threshold=50>

            <ion-side-menus>
                <ion-side-menu-content drag-content="true" edge-drag-threshold=50
                                       style="margin-top: 0px;padding-top: 0px">

                    <!--***************************************最右边的详情部分 ******************************************************-->
                    <ion-view style="width:{{contentWidth}}px">
                        <ion-header-bar align-title="center" class="bar-ipad-nav">
                            <div class="button am-back" ng-click="goBack()"></div>
                            <h1 class="title">总行通知</h1>
                        </ion-header-bar>
                        <ion-content class="gray-main">
                            <div class="ui-wrap">
                                <div class="word_Detail">
                                    <h1 class="font-icon-blue text_center padding-room">{{notice.BoardTitle}}</h1>
                                    <!-- <div class="text_center" ><img src="{{notice.boardImg}}"></div> -->
                                    <p>{{notice.BoardContent}}</p>
                                </div>
                                <dd>
                                    <br/>
                                    <br/>
                                    <span class="my_notice_title">附件列表：</span>
                                </dd>
                                <dl class="am-list no-arrow-list">
                                    <dd class="item am-button-default" ng-click="donwloadDoc(item)" ng-repeat="item in items">
                                        <span>
                                            <a>{{item.FileName}}</a>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </ion-content>
                    </ion-view>


                </ion-side-menu-content>


                <ion-side-menu side="left" width="{{secondNavWidth}}" expose-aside-when="large"
                               style="margin-top: 0px;padding-top: 0px">
                    <!--***********************************************中间部分的二级导航栏--***********************************************-->
                    <div ng-include="'templates/mine/my.html'"></div>

                </ion-side-menu>
            </ion-side-menus>
        </ion-side-menu-content>

        <ion-side-menu class="fstNav" side="left" width="{{firstNavWidth}}" expose-aside-when="large">
            <!--***********************************************最左边的一级导航栏--***********************************************-->
            <div ng-include="'templates/common/nav.html'">
            </div>
        </ion-side-menu>


    </ion-side-menus>

</ion-view>

  
