<ion-view>
    <ion-header-bar align-title="center" class="bar-ipad-nav">
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content class="gray-main">
        <dl class="am-list arrow-list">
            <!--<dd class="item am-button-default" ng-click="moduleSwitch('XGpasswordForiPad')">-->
            <dd class="item am-button-default" ng-click="gotoXGpassword()">
                <i class="am_iconfont font-icon-green">&#xe623;</i>

                <p class="font_s16"><span>修改密码</span></p>
            </dd>
        </dl>
        <dl class="am-list arrow-list">
            <!--<dd class="item am-button-default" ng-click="moduleSwitch('GestureForiPad')">-->
            <dd class="item am-button-default" ng-click="gotoGesture()">
                <i class="am_iconfont font-icon-red">&#xe603;</i>

                <p class="font_s16"><span>手势密码</span></p>
            </dd>
        </dl>
        <dl class="am-list arrow-list">
            <!--<dd class="item am-button-default" ng-click="moduleSwitch('feedbackForiPad')">-->
            <dd class="item am-button-default" ng-click="gotoFeedback()">
                <i class="am_iconfont font-icon-blue">&#xe607;</i>

                <p class="font_s16"><span>意见反馈</span></p>

            </dd>
        </dl>
        <dl class="am-list arrow-list">
            <!--<dd class="item am-button-default" ng-click="moduleSwitch('aboutForiPad')">-->
            <dd class="item am-button-default" ng-click="gotoAbout()">
                <i class="am_iconfont font-icon-oranger ">&#xe629;</i>

                <p class="font_s16"><span>关于</span></p>
            </dd>
        </dl>
    </ion-content>
</ion-view>