<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="button am-back" ng-click="goBack()"></div>
        <h1 class="title">{{title}}</h1>
    </ion-header-bar>
    <ion-content class="gray-main">
       <div>
           <ion-list>
               <ion-item ng-repeat="item in infoClassList" class="item-icon-right" ng-click="goToDetail(item)">
                   {{item.ItemName}}
                   <i class="icon ion-chevron-right icon-accessory"></i>
               </ion-item>
           </ion-list>
       </div>
    </ion-content>
</ion-view>