<ion-modal-view style="width: 460px; height: 320px; margin: auto;">
    <ion-header-bar class="bar-positive">
        <h1 class="title">选择需要添加的类型</h1>
    </ion-header-bar>
    <ion-content>
        <div style="text-align: center;">
            <div class="button button-block button-calm" style="width: 400px; margin-left: auto;
                margin-right: auto;" ng-click="takePicture()">图片</div>
            <div class="button button-block button-calm" style="width: 400px; margin-left: auto;
                margin-right: auto;" ng-click="takeVideo()">视频</div>
            <div class="button button-block button-calm" style="width: 400px; margin-left: auto;
                margin-right: auto;" ng-click="takeAudio()">音频</div>
            <div class="button button-block button-stable"
                 style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 20px;" ng-click="closeModal()">取消</div>

        </div>
    </ion-content>
</ion-modal-view>