<!--带有返回按钮的header，主要用于审查审批详情页面-->

<ion-header-bar align-title="center" class="bar-positive" style="height: {{barHeight}}px;width: {{secondNavWidth*1.3}}px">


    <button style="height:{{barHeight}}px; line-height:{{barHeight}}px;vertical-align:middle;margin-top:10px;background-color: transparent;border-color: transparent;border-width: 0px;"
        class="button am-back button-clear" ng-click="goToLastPage()"></button>

    <h1 style="height:{{barHeight}}px;line-height: {{barHeight}}px;font-size: {{barFontSize}}px;top:0px;margin-top: 0px" class="title">{{modualName}}</h1>
</ion-header-bar>


