/**
* Created by ypwang6 on 2017/7/21.
*/
<!--公积金贷款计算器-->
<ion-view>
    <ion-side-menus>
        <ion-side-menu-content drag-content="true" edge-drag-threshold=50>
            <ion-side-menus>
                <ion-side-menu-content drag-content="true" edge-drag-threshold=50
                                       style="margin-top: 0px;padding-top: 0px">
                    <!--***************************************最右边的详情部分 ******************************************************-->
                    <div ng-include="'templates/loanCalc/rightNavHeader.html'"></div>
                    <div style="margin-top:{{barHeight}}px">
                        <div ng-show="rightDetailShowFlag">
                            <div class="detail_info_top">
                                <table>
                                <tr style="width:{{contentWidth * 0.85}}px" class="row">
                                    <td style="text-align: center" class="col-50">支付利息款：<span style="color:red">{{resultOut.interest | currency:'￥'}}</span>元</td>
                                    <td style="text-align: center" class="col-50">还款总额：：<span style="color:red">{{resultOut.rental | currency:'￥' }}</span>元</td>
                                </tr>
                                </table>
                            </div>
                            <div class="detail_info_cont" style="width:{{contentWidth * 0.85}}px">
                                <table>
                                    <tr class="row">
                                        <td class="col">期次</td>
                                        <td class="col">偿还利息</td>
                                        <td class="col">偿还本金</td>
                                        <td class="col">月供</td>
                                        <td class="col">剩余本金</td>
                                    </tr>
                                </table>
                            </div>
                            <ion-content style="margin-top:192px;width:{{contentWidth * 0.85}}px">
                                <div class="detail_info_cont">
                                    <table>
                                        <tr ng-repeat="array in dataArray track by $index" class="row">
                                            <td ng-if="$index != 0" class="col">{{array.period}}</td>
                                            <td ng-if="$index != 0" class="col">{{array.interest | currency:''}}</td>
                                            <td ng-if="$index != 0" class="col">{{array.principal | currency:''}}</td>
                                            <td ng-if="$index != 0" class="col">{{array.mouthlyPayment | currency:''}}
                                            </td>
                                            <td ng-if="$index != 0" class="col">{{array.residueMoney | currency:''}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </ion-content>
                        </div>
                    </div>
                </ion-side-menu-content>
                <ion-side-menu side="left" width="{{secondNavWidth * 1.3}}" expose-aside-when="large"
                               style="margin-top: 0px;padding-top: 0px">
                    <!--***********************************************中间部分的二级导航栏--***********************************************-->
                    <div ng-include="'templates/loanCalc/leftNavHeader.html'"></div>
                    <ion-content style="top:{{barHeight}}px">
                        <div class="ui-wrap">
                            <div class="list ">
                                <label class="item item-input item-left-label row">
                                    <span class="input-label col-30">还款方式</span>

                                    <select class="am-select col-50" ng-model="model.waySelected"
                                            ng-options="w.id as w.content for w in ways">
                                    <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                                    </select>
                                </label>
                                <label class="item item-input item-left-label row ">
                                    <span class="input-label col-30">贷款金额</span>
                                    <input type="number" class="col-50"
                                           style="display: inline;border: 1px solid #d4d0d0;border-radius: 4px;"
                                           ng-model="loan.sum"><span
                                        style="color:#444;font-size: 9px">&nbsp;&nbsp;万元</span>&nbsp;&nbsp;&nbsp
                                </label>


                                <label class="item item-input item-left-label row">
                                    <span class="input-label col-30">贷款期限</span>
                                    <select class="am-select col-50" ng-model="model.timeSelected"
                                            ng-options="t.id as t.name for t in times">
                                        <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                                    </select>
                                </label>
                                <label class="item item-input item-left-label row">
                                    <span class="input-label col-30">贷款利率</span>
                                    <input type="number" class="col-50"
                                           style="display: inline;border: 1px solid #d4d0d0;border-radius: 4px;"
                                           ng-model="loan.rate">
                                    <span style="color:#444;font-size: 9px">&nbsp;&nbsp;&nbsp;%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>


                                <!--<label class="item item-input item-left-label row">
                                    <span class="input-label col-30" >显示还款明细</span>
                                    <select class="am-select col-50" ng-model="model.judgeSelected" ng-options="j.id as j.title for j in judges" >
                                        <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                                    </select>

                                </label>-->
                            </div>
                            <div style="text-align: center;width:100%;font-size: 13px;color: #f00"
                                 ng-show="tipShowFlag"> 请填写完整信息
                            </div>

                            <div class="btn-box row">
                                <div class="col col-50">
                                    <button type="button" class="am-button am-button-red" ng-click="calculate()">计算
                                    </button>
                                </div>
                                <div class="col col-50">
                                    <button type="button" class="am-button am-button-blue" ng-click="reCalculate()">
                                        重新计算
                                    </button>
                                </div>
                            </div>

                        </div>

                    </ion-content>

                </ion-side-menu>
            </ion-side-menus>
        </ion-side-menu-content>

        <ion-side-menu class="fstNav" side="left" width="{{firstNavWidth}}" expose-aside-when="large">
            <!--***********************************************最左边的一级导航栏--***********************************************-->
            <div ng-include="'templates/common/nav.html'"></div>
        </ion-side-menu>
    </ion-side-menus>

</ion-view>




