<div class="gray-main" align-title="center" ng-controller="ContractChangeApplyListController" class="ng-hide"  ng-show="currentPage == 'contractChange' " style="width:{{contentWidth}}px">
    <!--**************第一个div 列表begin******************-->
    <div ng-include="'templates/common/commHeader.html'"></div>
    <ion-content ng-show="rightContentListShowFlag" style="top:{{barHeight}}px ;width:{{contentWidth}}px">
      <ion-scroll style="width: {{contentWidth}}px; height: {{contentHeight+barHeight}}px;">
        <ion-refresher on-refresh="refresh()"
                       pulling-text="下拉刷新"
                       refreshing-text="正在刷新中"
                       spinner="ios">
        </ion-refresher>
        <dl class="am-list arrow-list">
            <dd class="item am-button-default" ng-repeat="item in items" ng-click="gotoApplyInfo(item)">
                <h3>客户名称：{{item.CustomerName}}</h3>
                <h4>企业类型：{{item.EnterpriseType}}</h4>
                <h4>行业分类：{{item.SMETradeType}}</h4>
                <i class="am_iconfont am-icon-sx">&#xe607;</i>
            </dd>
            <div class="noDataBox" ng-show="noData">
                <div class="nodata">
                    <img src="img/empty_page.png" width="70px">
                    <span class="nodata_span">暂无数据</span>
                </div>
            </div>
            <div class="loadingBox" ng-show="loadingMore">
                <ion-spinner icon="android"></ion-spinner>
                <h3>正在加载中</h3>
            </div>
        </dl>
        <ion-infinite-scroll icon="ion-loading-c"
                             ng-if="hasMore"
                             on-infinite="loadMore()"
                             distance="1%">
            <div>正在加载中</div>
        </ion-infinite-scroll>
      </ion-scroll>
    </ion-content>
    <!--**************第一个div 列表 end******************-->

    <!--**************第二个div显示详情 begin**************"-->


    <div class='ng-hide' ng-show="!rightContentListShowFlag" ng-controller="ApplyInfoController">

        <div ng-include="'templates/common/commBackButtonHeader.html'"></div>
        <ion-header-bar class="am-bar-subheader" style="margin-top: {{barHeight}}px; background-color: #EEE;">
        <div class="am-tabs row" style="padding:0; width: {{contentWidth}}px;">
            <div class="col" ng-class="{active:selectTab0}" ng-click="selectTask('0')">
                申请信息
            </div>
            <div class="col" ng-class="{active:selectTab1}" ng-click="selectTask('1')">
                客户信息
            </div>
            <div class="col" ng-class="{active:selectTab2}" ng-click="selectTask('2')">
                审批意见
            </div>
        </div>
        </ion-header-bar>

        <div ng-controller="ContractChangeApplyInfoController" ng-show="selectTab0">
            <div ng-show="!guarantListFlag">
                <ion-scroll scrollbar-y="false" direction="y" style="width: {{contentWidth}}px; height:{{contentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll">
                    <div class="ui-wrap">
                        <table class="bm_tb_list" ng-repeat="item in items">
                            <thead ng-click="showOrNot(item)">
                            <tr>
                                <th colspan="2">{{item.groupName}}
                                    <i class="icon-float-right" ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="obj in item.groupColArray" ng-show="item.showGroup">
                                <td class="td_width_30">{{obj.KeyName}}：</td>
                                <td>{{obj.Value}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui-wrap">
                        <table class="bm_tb_list">
                            <tr>
                                <th colspan="2" ng-click="guarantyContractList('effective')">有效的担保合同</th>
                            </tr>
                        </table>
                    </div>
                    <div class="ui-wrap">
                        <table class="bm_tb_list">
                            <tr>
                                <th colspan="2" ng-click="guarantyContractList('new')">拟新增的担保合同</th>
                            </tr>
                        </table>
                    </div>
                    <div class="ui-wrap">
                        <table class="bm_tb_list">
                            <tr>
                                <th colspan="2" ng-click="guarantyContractList('relieve')">拟解除的担保合同</th>
                            </tr>
                        </table>
                    </div>
                </ion-scroll>
            </div>

        </div>


        <div ng-controller="ContractChangeCustomerController" ng-show="selectTab1">
            <ion-scroll scrollbar-y="false" direction="y" style="width: {{contentWidth}}px; height:{{contentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll01">
                <div class="ui-wrap">
                    <table class="bm_tb_list" ng-repeat="item in items">
                        <thead ng-click="showOrNot(item)">
                        <tr>
                            <th colspan="2">{{item.groupName}}
                                <i class="icon-float-right" ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="obj in item.groupColArray" ng-show="item.showGroup">
                            <td class="td_width_30">{{obj.KeyName}}：</td>
                            <td>{{obj.Value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ion-scroll>

        </div>

        <div ng-controller="ContractChangeOpinionController" ng-show="selectTab2">
            <ion-scroll direction="y" style="width:{{contentWidth}}px; height:{{contentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll">
                <div class="ui-wrap">
                    <table class="bm_tb_list" ng-repeat="item in items">
                        <thead ng-click="showOrNot(item)">
                        <tr>
                            <th colspan="2">{{item.PhaseName}}
                                <i class="icon-float-right" ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-show="item.showGroup">
                        <tr>
                            <td class="td_width_30">处理人:</td>
                            <td>{{item.UserName}}</td>
                        </tr>
                        <tr>
                            <td class="td_width_30">处理人所属机构:</td>
                            <td>{{item.OrgName}}</td>
                        </tr>
                        <tr>
                            <td>收到时间:</td>
                            <td>{{item.BeginTime}}</td>
                        </tr>
                        <tr>
                            <td>完成时间:</td>
                            <td>{{item.EndTime}}</td>
                        </tr>
                        <tr>
                            <td>意见:</td>
                            <td colspan="3">{{item.PhaseOpinion}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="noDataBox" ng-show="noData">
                        <div class="nodata">
                            <img src="img/empty_page.png" width="70px">
                            <span class="nodata_span">暂无数据</span>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>

        <ion-footer-bar ng-show="isFinished">
            <div class="btn-box row" style="width:{{contentWidth}}px">
                <div class="col">
                    <button type="button" class="am-button am-button-red" ng-click="backToLastNode()">退回前一步
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="am-button am-button-blue" ng-click="showModal(0)">签署意见并提交
                    </button>
                </div>
            </div>
        </ion-footer-bar>
    </div>

</div>
