<ion-view>
    <ion-side-menus>
        <ion-side-menu-content drag-content="true" edge-drag-threshold=50>
            <!--<ion-header-bar align-title="center" class="bar-ipad-nav">-->
            <!--<h1 class="title" >信用等级评估</h1>-->

            <!--<div style="position: absolute;right: 20px;font-size: 30px;color: white;margin-top: 20px"-->
            <!--class="ion-search" ng-click="showSearchBar()">-->

            <!--</div>-->

            <!--<div style="width:100%;position: fixed;background-color: #e1e1e1;height: 130px;top: 43px"-->
            <!--ng-if="info.show" ng-controller="searchCretController">-->
            <!--<table style="width: 848px">-->

            <!--<tr>-->
            <!--<td>-->
            <!--<div>-->

            <!--<input type="text" placeholder="{{placeHolder.customer}}"-->
            <!--ng-model="query.customerId"-->
            <!--style="margin-left: 30px;margin-top:10px;border-color: #3a3a3a;border-width: 1px;border-style: solid;text-align: center">-->

            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>-->

            <!--<input type="text" placeholder="客户名称" ng-model="query.customerName"-->
            <!--style="margin-left: 30px;margin-top:10px;border-color: #3a3a3a;border-width: 1px;border-style: solid;text-align: center">-->

            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>-->

            <!--<input type="text" placeholder="{{placeHolder.cert}}" ng-model="query.certID"-->
            <!--style="margin-left: 30px;margin-top:10px;border-color: #3a3a3a;border-width: 1px;border-style: solid;text-align: center"-->
            <!--ng-bind="info.CretNo">-->

            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>-->
            <!--<select class="am-select" ng-model="bank_select.bank"-->
            <!--ng-options="option.OrgId as option.OrgName for option in bank_select.codes"-->
            <!--style="margin-left: 30px;margin-top:10px;border-color: #3a3a3a;border-width: 1px;border-style: solid;text-align: center">-->
            <!--<option value="">请选择机构</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->

            <!--<tr>-->
            <!--<td>-->
            <!--<div style="margin-top: 20px;margin-left: 30px">-->

            <!--<button class="button button-positive"-->
            <!--style="position: absolute;align-content: center;left: 400px;"-->
            <!--ng-click="searchinfo()">-->
            <!--serach-->
            <!--</button>-->

            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->

            <!--</table>-->
            <!--</div>-->
            <!--</ion-header-bar>-->
            <ion-side-menus>
                <ion-side-menu-content drag-content="true" edge-drag-threshold=50 width="{{contentWidth}}">
                    <ion-header-bar align-title="center" class="bar-ipad-nav" style="width:{{contentWidth}}px">
                        <h1 class="title">信用等级评估详情</h1>
                    </ion-header-bar>
                    <ion-header-bar ng-show="showDetail.show" class="bar-subheader am-sub-header" style="width:{{contentWidth}}px;">
                        <ul class="am-tab row" style="padding: 0px">
                            <li class="col col-50" ng-class="{active:selectTab0}" ng-click="selectTask('0')">模型详情</li>
                            <li class="col col-50" ng-class="{active:selectTab1}" ng-click="selectTask('1')">审批意见</li>
                        </ul>
                    </ion-header-bar>

                    <ion-content>
                    <div ng-show="showDetail.show">

                        <div ng-controller="detailEvaluateController" ng-show="selectTab0"
                             style="width:{{contentWidth}}px">
                            <div class="ui-wrap">
                                <table class="cm_tb_list">
                                    <tbody>
                                    <tr>
                                        <th class="td_width_15">编号
                                        </td>
                                        <th class="td_width_50">项目名称
                                        </td>
                                        <th class="td_width_20">项目值
                                        </td>
                                        <th class="td_width_15">得分
                                        </td>
                                    </tr>
                                    <tr ng-repeat="obj in items">
                                        <td class="td_width_15">{{obj.DisplayNo}}</td>
                                        <td class="td_width_50">{{obj.ItemName}}</td>
                                        <td class="td_width_20">{{obj.ItemValue}}</td>
                                        <td class="td_width_15" style="text-align: right">{{obj.EvaluateScore}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div ng-controller="detailOpinionController" ng-show="selectTab1"
                             style="width:{{contentWidth}}px">
                            <ion-scroll delegate-handle="smallScroll" style="width: {{contentWidth}}px; height:{{contentHeight}}px">
                            <div class="ui-wrap">
                                <table class="bm_tb_list" ng-repeat="item in items">
                                    <thead ng-click="showOrNot(item)">
                                    <tr>
                                        <th colspan="2">{{item.PhaseName}}
                                            <i class="icon-float-right"
                                               ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="item.showGroup">
                                    <tr>
                                        <td class="td_width_30">处理人:</td>
                                        <td>{{item.UserName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td_width_30">处理人所属机构:</td>
                                        <td>{{item.OrgName}}</td>
                                    </tr>
                                    <tr>
                                        <td>收到时间:</td>
                                        <td>{{item.BeginTime}}</td>
                                    </tr>
                                    <tr>
                                        <td>完成时间:</td>
                                        <td>{{item.EndTime}}</td>
                                    </tr>
                                    <tr>
                                        <td>意见:</td>
                                        <td colspan="3">{{item.PhaseOpinion}}</td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            </ion-scroll>
                        </div>
                    </div>
                    <div class="noDataBox" ng-show="info.noData" >
                        <div class="nodata" style="width:{{contentWidth}}px">
                            <img src="img/empty_page.png" width="70px">
                            <span class="nodata_span">暂无数据</span>
                        </div>
                    </div>
                    </ion-content>
                </ion-side-menu-content>

                <!-- 二级导航条-->
                <ion-side-menu side="left" width="{{secondNavWidth}}" expose-aside-when="large">
                    <ion-header-bar align-title="center" class="bar-ipad-nav">
                        <h1 class="title">信用等级评估</h1>

                        <div style="position: absolute;right: 20px;font-size: 30px;color: white;bottom: 5px;"
                             class="ion-search" ng-click="showSearchBar()">

                        </div>

                        <div style="width:{{secondNavWidth}}px;position: fixed;background-color: #ffffff;height: 250px;top: 43px;border-bottom:1px solid #ccc;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.17);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.17);box-shadow: 0 1px 1px rgba(0,0,0,0.17)"
                             ng-if="info.show" ng-controller="searchCretController">
                            <ul style="width:{{secondNavWidth}}px">

                                <li>
                                    <div>

                                        <input type="text" placeholder="{{placeHolder.customer}}"
                                               ng-model="query.customerId"
                                               style="width: {{secondNavWidth*0.8}}px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;">

                                    </div>
                                </li>
                                <li>
                                    <div>

                                        <input type="text" placeholder="客户名称" ng-model="query.customerName"
                                               style="width: {{secondNavWidth*0.8}}px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;">

                                    </div>
                                </li>
                                <li>
                                    <div>

                                        <input type="text" placeholder="{{placeHolder.cert}}" ng-model="query.certID"
                                               style="width: {{secondNavWidth*0.8}}px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;"
                                               ng-bind="info.CretNo">

                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <select class="am-select" ng-model="bank_select.bank"
                                                ng-options="option.OrgId as option.OrgName for option in bank_select.codes"
                                                style="width: {{secondNavWidth*0.8}}px;margin-left: 30px;margin-top:10px;border:1px solid #d4d0d0;padding-left: 6px;border-radius: 4px;">
                                            <option value="">请选择机构</option>
                                        </select>
                                    </div>
                                </li>

                                <li>
                                    <div class="row" style="margin-top: 20px;margin-left: 30px; width: {{secondNavWidth*0.8}}px;">

                                        <div class="col col-50;" style="text-align: center; width: 100px;"><button class="button button-assertive" ng-click="clearData()">清 除</button> </div>
                                        <div class="col col-50;" style="text-align: center; width: 100px;"><button class="button button-positive" ng-click="searchinfo()">搜 索</button> </div>


                                        <!--<button class="button button-assertive"-->
                                                <!--style="width: 100px;position: absolute;align-content: center;"-->
                                                <!--ng-click="clearData()">-->
                                            <!--清 除-->
                                        <!--</button>-->
                                        <!--<button class="button button-positive"-->
                                                <!--style="width: 100px;position: absolute;align-content: center;margin-left: 150px"-->
                                                <!--ng-click="searchinfo()">-->
                                            <!--查 询-->
                                        <!--</button>-->

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </ion-header-bar>
                    <ion-content class="stable-bg" ng-controller="listCretController">

                        <ion-refresher on-refresh="refresh()"
                                       pulling-text="下拉刷新"
                                       refreshing-text="正在刷新中"
                                       spinner="ios">
                        </ion-refresher>

                        <dl class="am-list arrow-list">
                            <dd class="item am-button-default" ng-repeat="item in items" ng-class="{'item-selected': $index == selectedRow}" ng-click="goDetail(item,$index)">
                                <h3>{{item.CustomerName}}【{{item.ObjectNo}}】</h3>
                                <h4>评估结果:{{item.EvaluateScore|number:2}}分 {{item.EvaluateResult}}</h4>
                                <h4>认定 结果:{{item.CognScore}}分 {{item.CognResult}}</h4>
                                <i class="am_iconfont am-icon-fl">{{item.CustomerType}}</i>
                            </dd>
                            <div class="noDataBox" ng-show="info.noData">
                                <div class="nodata">
                                    <img src="img/empty_page.png" width="70px">
                                    <span class="nodata_span">暂无数据</span>
                                </div>
                            </div>
                        </dl>

                        <div class="loadingBox" ng-show="loadingMore">
                            <ion-spinner icon="android"></ion-spinner>
                            <h3>正在加载中</h3>
                        </div>
                        <ion-infinite-scroll icon="ion-loading-c"
                                             ng-if="hasMore"
                                             on-infinite="loadMore()"
                                             distance="1%">
                            <div>正在加载中</div>
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-side-menu>

            </ion-side-menus>

        </ion-side-menu-content>

        <!-- 一级导航条-->
        <ion-side-menu class="fstNav" side="left" width="{{firstNavWidth}}" expose-aside-when="large">
            <!--***********************************************最左边的一级导航栏--***********************************************-->
            <div ng-include="'templates/common/nav.html'">
            </div>
        </ion-side-menu>


    </ion-side-menus>
</ion-view>
