<!--***************************五级分类******************************************-->
<div class="gray-main" align-title="center" ng-controller="FiveLevelClassifyApplyListController" class="ng-hide" ng-show="currentPage == 'fiveLevelClassify'" style="width:{{contentWidth}}px">
    <div ng-include="'templates/common/commHeader.html'"></div>

    <ion-content ng-show="rightContentListShowFlag" style="top:{{barHeight}}px ;width:{{contentWidth}}px">
        <ion-scroll style="width: {{contentWidth}}px ;height: {{contentHeight+barHeight}}px;">
        <ion-refresher on-refresh="refresh()"
                       pulling-text="下拉刷新"
                       refreshing-text="正在刷新中"
                       spinner="ios">
        </ion-refresher>
        <dl class="am-list arrow-list">
            <dd class="item am-button-default" ng-repeat="item in items" ng-click="gotoApplyInfo(item,$index)" ng-class="{'item-selected': $index == selectedRow}">
                <h3>客户名称:{{item.CustomerName}}</h3>
                <h4>借据余额:{{item.Balance}}</h4>
                <h4>五级分类结果:{{item.FinallyResult}}</h4>
                <i class="am_iconfont am-icon-sx">&#xe684;</i>
            </dd>
            <div class="noDataBox" ng-show="noData">
                <div class="nodata">
                    <img src="img/empty_page.png" width="70px">
                    <span class="nodata_span">暂无数据</span>
                </div>
            </div>
            <div class="loadingBox" ng-show="loadingMore">
                <ion-spinner icon="android"></ion-spinner>
                <h3>正在加载中</h3>
            </div>
        </dl>
        <ion-infinite-scroll icon="ion-loading-c"
                             ng-if="hasMore"
                             on-infinite="loadMore()"
                             distance="1%">
            <div>正在加载中</div>
        </ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
    <!--**************第一个div 列表 end******************-->

    <!--**************第二个div显示详情 begin**************"-->

    <div class='ng-hide' ng-show="!rightContentListShowFlag" ng-controller="ApplyInfoController">

        <div ng-include="'templates/common/commBackButtonHeader.html'"></div>
        <ion-header-bar class="am-bar-subheader" style="margin-top: {{barHeight}}px; background-color: #EEE;">
        <div class="am-tabs row-no-padding" style="width: {{contentWidth}}px;">

            <div class="col col-25" ng-class="{active:selectTab0}" ng-click="selectTask('0')">
                模型详情
            </div>
            <div class="col col-25" ng-class="{active:selectTab1}" ng-click="selectTask('1')">
                借据信息
            </div>

            <div class="col col-25" ng-class="{active:selectTab2}" ng-click="selectTask('2')">
                客户详情
            </div>
            <div class="col col-25" ng-class="{active:selectTab3}" ng-click="selectTask('3')">
                审批意见
            </div>

        </div>
        </ion-header-bar>

        <div ng-controller="FiveLevelClassifyApplyInfoController" ng-show="selectTab0">

                <div class="ui-wrap">
                    <ion-scroll  scrollbar-y="false" direction="y" style="width: {{contentWidth}}px; height:{{exaineContentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll">
                    <table class="cm_tb_list">
                        <tbody>
                        <tr>
                            <th class="td_width_15">编号</th>
                            <th class="td_width_30">项目名称</th>
                            <th class="td_width_50">项目值</th>
                            <!--<th class="td_width_15">得分</td>-->
                        </tr>
                        <tr ng-repeat="obj in items">
                            <td class="td_width_15">{{obj.DisplayNo}}</td>
                            <td class="td_width_30">{{obj.ItemName}}</td>
                            <td class="td_width_50">{{obj.ItemValue}}</td>
                            <!--<td class="td_width_15" style="text-align: right">{{obj.EvaluateScore}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                    </ion-scroll>

                </div>

        </div>

        <div ng-controller="FiveLevelClassifyDueBillInfoController" ng-show="selectTab1">

            <div class="ui-wrap">
                <ion-scroll  direction="y" style="width: {{contentWidth}}px; height:{{exaineContentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll" scrollbar-y="false">
                    <table class="bm_tb_list" ng-repeat="item in items">
                        <thead ng-click="showOrNot(item)">
                        <tr>
                            <th colspan="2">{{item.groupName}}
                                <i class="icon-float-right"
                                   ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="obj in item.groupColArray" ng-show="item.showGroup">
                            <td class="td_width_30">{{obj.KeyName}}：</td>
                            <td>{{obj.Value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </ion-scroll>
            </div>


        </div>


        <div ng-controller="FiveLevelClassifyCustomerController" ng-show="selectTab2">

            <div class="ui-wrap">
                <ion-scroll scrollbar-y="false"  direction="y" style="width: {{contentWidth}}px; height:{{exaineContentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll01">
                    <table class="bm_tb_list" ng-repeat="item in items">
                        <thead ng-click="showOrNot(item)">
                        <tr>
                            <th colspan="2">{{item.groupName}}
                                <i class="icon-float-right" ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="obj in item.groupColArray" ng-show="item.showGroup">
                            <td class="td_width_30">{{obj.KeyName}}：</td>
                            <td>{{obj.Value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </ion-scroll>
            </div>

        </div>

        <div ng-controller="FiveLevelClassifyOpinionController" ng-show="selectTab3">
                <div class="ui-wrap">
                    <ion-scroll  scrollbar-y="false" direction="y"
                                style="width: {{contentWidth}}px; height:{{exaineContentHeight}}px; margin-top: {{barHeight+64}}px;" delegate-handle="smallScroll">
                        <table class="bm_tb_list" ng-repeat="item in items">
                            <thead ng-click="showOrNot(item)">
                            <tr>
                                <th colspan="2">{{item.PhaseName}}
                                    <i class="icon-float-right"
                                       ng-class="item.showGroup?'ion-chevron-up':'ion-chevron-down'"></i>

                                </th>

                            </tr>
                            </thead>
                            <tbody ng-show="item.showGroup">
                            <tr>
                                <td class="td_width_30">处理人:</td>
                                <td>{{item.UserName}}</td>
                            </tr>
                            <tr>
                                <td class="td_width_30">处理人所属机构:</td>
                                <td>{{item.OrgName}}</td>
                            </tr>
                            <tr>
                                <td>收到时间:</td>
                                <td>{{item.BeginTime}}</td>
                            </tr>
                            <tr>
                                <td>完成时间:</td>
                                <td>{{item.EndTime}}</td>
                            </tr>
                            <tr>
                                <td>意见:</td>
                                <td colspan="3">{{item.PhaseOpinion}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </ion-scroll>
                    <div class="noDataBox" ng-show="noData">
                        <div class="nodata">
                            <img src="img/empty_page.png" width="70px">
                            <span class="nodata_span">暂无数据</span>
                        </div>
                    </div>

                    </ion-scroll>
                </div>
        </div>

        <ion-footer-bar ng-show="isFinished">
            <div class="btn-box row" style="width:{{contentWidth}}px">
                <div class="col">
                    <button type="button" class="am-button am-button-red" ng-click="backToLastNode()">退回前一步</button>
                </div>
                <div class="col">
                    <button type="button" class="am-button am-button-blue" ng-click="showModal(2)">签署意见并提交</button>
                </div>
            </div>
        </ion-footer-bar>

    </div>

</div>