/**
*提交流程-下阶段动作选择,所有流程共用
*
*/

<div ng-show="nextActionShowFlag">

    <ion-header-bar align-title="center" class="bar-positive">
        <div>
            <!-- <button class="button button-clear" ng-click="goToSignOpinion()">
                <i class="ion ion-chevron-left" style="font-size: 25px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
            </button> -->
        </div>
        <h1 class="title">下一阶段动作选择</h1>
    </ion-header-bar>

    <ion-content class="gray-main">
        <ul class="checkList">
            <li>
                <div class="am-label">提交动作选择：</div>
            </li>
            <li ng-repeat="obj in nextPhaseOpinions" ng-click="choosePhaseOpinion(obj.phaseOpinion)">
                <input name="nextActionItem" class="am-checkbox" type="radio" ng-model="action.choose"
                 	ng-click="choosePhaseOpinion(obj.phaseOpinion)" ng-value="obj.phaseOpinion"/>
                <div class="checkLabel">{{obj.phaseOpinion}}</div>
            </li>
            <li ng-if="showNextPhaseAction">
                <div class="am-label">选择下一阶段处理人：</div>
            </li>
            <li ng-if="showNextPhaseAction" ng-repeat="obj in nextPhaseActions" ng-click="chooseNextPhaseAction(obj.actionInfo)">
                <input name="nextActionOperatorItem" class="am-checkbox" type="radio" ng-model="person.chooses"
                	ng-click="chooseNextPhaseAction(obj.actionInfo)" ng-value="obj.actionInfo">
                <div class="checkLabel">{{obj.actionInfo}}</div>
            </li>

            <!--待审会多选begin  -->
           <!-- <li ng-show="showNextPhaseAction" ng-repeat="obj in nextPhaseActions">
            <input name="nextActionOperatorItem" class="am-checkbox" type="checkbox"

            ng-checked="isChecked(obj.nextnextPhaseAction)"
            ng-click="chooseNextPhaseAction($event,obj.nextPhaseAction)">
            <div class="checkLabel">{{obj.nextPhaseAction}}</div>
            </li>-->
            <!--待审会多选end  -->
        </ul>
        <dl class="am-list notice-list_a" ng-if="showNextPhaseInfo">
            <dd>
                <h3 class="am-button"><span>{{nextPhaseInfo}}</span></h3>
            </dd>
        </dl>
        <dl class="am-list notice-list_a" ng-if="showWarnInfo">
            <dd>
                <h3 class="am-button"><span>{{warnInfo}}</span></h3>
            </dd>
        </dl>
    </ion-content>

    <ion-footer-bar>
        <div class="col ">
            <button type="button" class="am-button am-button-red" ng-click="hideModal1()">放弃</button>
        </div>
        <div class="col">
            <button type="button" class="am-button am-button-blue" ng-click="submitApply()">提交</button>
        </div>
    </ion-footer-bar>

</div>