<ion-modal-view ng-style="bigModalStyle" ng-controller="indFirstInspectSelectListController">


<div >
    <ion-header-bar align-title="center" class="bar-positive">
        <div>
            <button class="button button-clear" ng-click="modal.remove()">
                <i class="ion ion-chevron-left" style="font-size: 25px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
            </button>
        </div>
       <!--  <h1 class="title">签署意见</h1> -->
    </ion-header-bar>

    <ion-content class="gray-main">
    	
        <table class="am_tb_list" style="border-bottom:10px solid #eeeeee">
            <tbody>
            <tr ng-show="selName!='SelectInspectCustomer' && selName!='SelectXQYCheckApplyCustomer'">
                <td >借据编号</td>
                 <td >合同编号</td>
                  <td >业务品种</td>
                   <td >客户编号</td>
                    <td >客户名称</td>
                     <td >合同金额（元）</td>
                      <td>合同余额（元）</td>
            </tr>
            <tr ng-show="selName=='SelectInspectCustomer' || selName=='SelectXQYCheckApplyCustomer'">
                <td >客户编号</td>
                 <td >客户名称</td>
                  <td >证件编号</td>
                   <td >证件类型</td>
            </tr>
            <tr ng-repeat="obj in items" ng-show="true" ng-click="selectOneItem(obj,$event)">
                <td ng-repeat="item in obj"  >{{item.Value}}</td>
            </tr>
            </tbody>
        </table>
        <!-- <ul class="am-input-list">
            <li>
                <h3>意见详情：</h3>
            </li>
            <li class="am-input-list_text">
                <textarea class="am-textarea" rows="5" cols="" ng-model="opinionInfos.opinionDetail"></textarea>
            </li>
        </ul> -->
    </ion-content>

    <ion-footer-bar>
        <div class="col col-50">
            <button ng-if=" selName=='SelectXQYCheckApplyCustomer'" type="button" class="am-button am-button-blue" ng-click="XQYgotoCheckSelect()">确定
            </button>
            <button ng-if=" selName!='SelectXQYCheckApplyCustomer'" type="button" class="am-button am-button-blue" ng-click="gotoCheckSelect()">确定
            </button>
        </div>
        <div class="col col-50">
            <button type="button" class="am-button am-button-blue" ng-click="modal.remove()">取消
            </button>
        </div>
    </ion-footer-bar>

</div>
</ion-modal-view>