<ion-modal-view ng-style="businessTypeModal" ng-controller="SmeNewRecordController">


<div >
    <ion-header-bar align-title="center" class="bar-positive">
        <div>
            <button class="button button-clear" ng-click="modal1.remove()">
                <i class="ion ion-chevron-left" style="font-size: 25px;margin-left: 10px;margin-top: 12px;color:#fff"></i>
            </button>
        </div>
       <!--  <h1 class="title">签署意见</h1> -->
    </ion-header-bar>

    <ion-content class="scroll-content">
    	<table class="bm_tb_list" >
            <tbody>
            <tr>
                <td class="td_width_30">客户名称：</td>
                <td ng-click="SelectCustomer()">{{SmeSelectedCustomerName}}</td>
            </tr>
            <tr>
                <td class="td_width_30">模式选择：</td>
                <td>
                <select disabled ="true" class="ba-select"  ng-model="CheckMode">
				  <option value="0">请选择</option>
        		<option value="opt">手工选择</option>
        		<option value="auto">系统自动判断</option>
				</select>
				</td>
            </tr>
            <tr>
                <td class="td_width_30">风险检查模板：</td>
                <td>
               <select id="CheckTemplatePerson" ng-model="CheckTemplatePerson" class="ba-select" >
        		<option value="0">请选择</option>
        		<option value="Person" >个人经营类风险检查表</option>  		
        		<option value="Batch" >批量业务类分析检查表</option>
        		<option value="LowRisk" >低风险业务检查表</option>
       			 </select>
       			 </td>
            </tr>
            </tbody>
        </table>
    </ion-content>
		
    <ion-footer-bar>
        <div class="col col-50">
            <button type="button" class="am-button am-button-blue" ng-click="gotoCheckSelect()">确定
            </button>
        </div>
        <div class="col col-50">
            <button type="button" class="am-button am-button-blue" ng-click="modal1.remove()">取消
            </button>
        </div>
    </ion-footer-bar>

</div>
</ion-modal-view>